<%- include("header", {title: title}); %>

<h1>People in TV shows</h1>
<!-- <ul>
<% for (const row of res) { %>
    <li><%= JSON.stringify(row) %></li>
<% }; %>
</ul> -->
<table>
    <tr>
        <th>Id</th>
        <th>First</th>
        <th>Last</th>
        <th>Born</th>
        <th>Tvshow id</th>
        <th>Places id</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><%= row.id %></td>
        <td><%= row.firstname %></td>
        <td><%= row.lastname %></td>
        <td><%= row.born %></td>
        <td><%= row.tvshows_id %></td>
        <td><%= row.places_id %></td>
    </tr>
<% }; %>
</table>

<%- include("footer"); %>
