<%- include("../header", {title: title}); %>
<% res = res[0] %>

<h3>Edit id <%= id %></h3>
<!-- <ul>
<% for (const row of res) { %>
    <li><%= JSON.stringify(row) %></li>
<% }; %>
</ul> -->
<% res = res[0] %>
<form class="label-left" method="post" action="/people/edit">
    <div class="row">
        <div class="two columns">
            <label for="id">Id</label>
            <input id="id" class="u-full-width" type="text" name="id" readonly value="<%= res.id %>">
        </div>
    </div>
    <div class="row">
        <div class="six columns">

            <label for="fname">Firstname</label>
            <input id="fname" class="u-full-width" type="text" name="fname" value="<%= res.firstname %>">
        </div>
        <div class="six columns">
            <label for="lname">Lastname</label>
            <input id="lname" class="u-full-width" type="text" name="lname" value="<%= res.lastname %>">
        </div>
    </div>
    <div class="row">
        <div class="two columns">
            <label for="born">Born</label>
            <input id="born" class="u-full-width" type="text" name="born" value="<%= res.born %>">
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="project">TV show</label>
            <select name="tvshow" id="project" class="u-full-width">
                <option value="" selected>No current project</option>
                <% for (const row of tvshows[0]) { %>
                    <option value="<%= row.id %>" <%= (row.title === res.title) ? "selected" : ""  %>><%= row.title %></option>
                    <% }; %>
            </select>
        </div>
        <div class="six columns">
            <label for="place">Place</label>
            <select name="place" id="place" class="u-full-width">
                <option value="" selected>No current place</option>
                <% for (const row of places[0]) { %>
                    <option value="<%= row.id %>" <%= (row.place === res.place) ? "selected" : ""  %>><%= row.place %></option>
                <% }; %>
            </select>
        </div>
    </div>


        <input type="submit" name="doit" value="Edit">
</form>


<%- include("../footer"); %>
